*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.ste-container {
  width: 100%;
}

@media (min-width: 640px) {
  .ste-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .ste-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .ste-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .ste-container {
    max-width: 1280px;
  }
}

.stax-visibility-admin-page #contextual-help-link-wrap {
  display: none !important;
}

.stax-visibility-admin-page .stax-main ul li {
  margin-bottom: 0;
}

.stax-visibility-admin-page .stax-main #go-pro-rocket-icon {
  width: 100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.stax-visibility-admin-page .stax-main .rocket-flame {
  -webkit-transform-origin: 15px 37.5px;
          transform-origin: 15px 37.5px;
}

.stax-visibility-admin-page .stax-main a:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.stax-visibility-admin-page .ste-toggle-dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

.stax-visibility-admin-page input:checked ~ .ste-toggle-dot {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: #48bb78;
}

.stax-visibility-admin-page .ste-toggle-input {
  display: none;
}

.ste-absolute {
  position: absolute;
}

.ste-relative {
  position: relative;
}

.ste-inset-y-0 {
  top: 0px;
  bottom: 0px;
}

.ste-left-0 {
  left: 0px;
}

.ste-m-0 {
  margin: 0px;
}

.ste-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ste-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ste--mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.ste-my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ste-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ste-my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.ste-mt-0 {
  margin-top: 0px;
}

.ste-mt-1 {
  margin-top: 0.25rem;
}

.ste-mt-2 {
  margin-top: 0.5rem;
}

.ste-mt-5 {
  margin-top: 1.25rem;
}

.ste-mr-2 {
  margin-right: 0.5rem;
}

.ste-mb-4 {
  margin-bottom: 1rem;
}

.ste-mb-10 {
  margin-bottom: 2.5rem;
}

.ste-ml-2 {
  margin-left: 0.5rem;
}

.ste-box-border {
  box-sizing: border-box;
}

.ste-block {
  display: block;
}

.ste-inline-block {
  display: inline-block;
}

.ste-flex {
  display: flex;
}

.ste-h-2 {
  height: 0.5rem;
}

.ste-h-4 {
  height: 1rem;
}

.ste-w-4 {
  width: 1rem;
}

.ste-w-5 {
  width: 1.25rem;
}

.ste-w-32 {
  width: 8rem;
}

.ste-w-full {
  width: 100%;
}

@-webkit-keyframes ste-spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ste-spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes ste-ping {
  75%, 100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes ste-ping {
  75%, 100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes ste-pulse {
  50% {
    opacity: .5;
  }
}

@keyframes ste-pulse {
  50% {
    opacity: .5;
  }
}

@-webkit-keyframes ste-bounce {
  0%, 100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

@keyframes ste-bounce {
  0%, 100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
            animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    -webkit-transform: none;
            transform: none;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
            animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.ste-cursor-pointer {
  cursor: pointer;
}

.ste-flex-wrap {
  flex-wrap: wrap;
}

.ste-content-center {
  align-content: center;
}

.ste-items-center {
  align-items: center;
}

.ste-justify-center {
  justify-content: center;
}

.ste-justify-between {
  justify-content: space-between;
}

.ste-overflow-hidden {
  overflow: hidden;
}

.ste-rounded {
  border-radius: 0.25rem;
}

.ste-rounded-full {
  border-radius: 9999px;
}

.ste-border-0 {
  border-width: 0px;
}

.ste-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.ste-bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}

.ste-bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 246, 255, var(--tw-bg-opacity));
}

.ste-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.ste-bg-ash-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(204, 204, 204, var(--tw-bg-opacity));
}

.ste-bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.ste-from-green-500 {
  --tw-gradient-from: #10b981;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(16, 185, 129, 0));
}

.ste-from-ash-300 {
  --tw-gradient-from: #F4F4F4;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(244, 244, 244, 0));
}

.ste-to-green-400 {
  --tw-gradient-to: #34d399;
}

.ste-to-ash-200 {
  --tw-gradient-to: #F8F8F8;
}

.ste-fill-current {
  fill: currentColor;
}

.ste-p-0 {
  padding: 0px;
}

.ste-p-4 {
  padding: 1rem;
}

.ste-p-6 {
  padding: 1.5rem;
}

.ste-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ste-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ste-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.ste-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.ste-pt-10 {
  padding-top: 2.5rem;
}

.ste-text-right {
  text-align: right;
}

.ste-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.ste-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ste-text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.ste-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.ste-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.ste-font-light {
  font-weight: 300;
}

.ste-font-medium {
  font-weight: 500;
}

.ste-font-bold {
  font-weight: 700;
}

.ste-uppercase {
  text-transform: uppercase;
}

.ste-leading-none {
  line-height: 1;
}

.ste-leading-normal {
  line-height: 1.5;
}

.ste-tracking-wide {
  letter-spacing: 0.025em;
}

.ste-text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ste-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.ste-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.ste-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.ste-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.ste-text-red-500 {
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.hover\:ste-text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.ste-no-underline {
  text-decoration: none;
}

*, ::before, ::after {
  --tw-shadow: 0 0 #0000;
}

.ste-shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ste-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ste-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ste-shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:ste-shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:ste-shadow-none:focus {
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

*, ::before, ::after {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .md\:ste-w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .lg\:ste-w-1\/3 {
    width: 33.333333%;
  }

  .lg\:ste-w-1\/4 {
    width: 25%;
  }

  .lg\:ste-w-3\/4 {
    width: 75%;
  }

  .lg\:ste-p-10 {
    padding: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .xl\:ste-w-1\/4 {
    width: 25%;
  }
}

@media (min-width: 1536px) {
}
