.elementor-panel .elementor-tab-control-stax-visibility.elementor-active {
    background-image: linear-gradient(180deg, #7b5bcf, #7b5bcf) !important;
    border-bottom-color: #673ab7 !important;
}

.elementor-panel .elementor-tab-control-stax-visibility.elementor-active a {
    color: #f4f0ff !important;
}

.elementor-panel .elementor-tab-control-stax-visibility a {
    color: #fff;
}

.elementor-panel .elementor-tab-control-stax-visibility a:before {
    font-family: eicons;
    content: '\e8ac';
}

.elementor-control-stax_visibility_pro_user_meta,
.elementor-control-stax_visibility_pro_ip_referrer,
.elementor-control-stax_visibility_pro_browser_type,
.elementor-control-stax_visibility_pro_date_time,
.elementor-control-stax_visibility_pro_post_page,
.elementor-control-stax_visibility_pro_archive,
.elementor-control-stax_visibility_pro_conditional_tags,
.elementor-control-stax_visibility_pro_dynamic_conditions,
.elementor-control-stax_visibility_pro_woocommerce_users,
.elementor-control-stax_visibility_pro_edd_users,
.elementor-control-stax_visibility_pro_fallback {
    pointer-events: none;
}

.elementor-control-stax_visibility_pro_user_meta .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_ip_referrer .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_browser_type .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_date_time .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_post_page .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_archive .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_conditional_tags .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_dynamic_conditions .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_woocommerce_users .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_edd_users .elementor-panel-heading-toggle,
.elementor-control-stax_visibility_pro_fallback .elementor-panel-heading-toggle {
    display: none;
}

.elementor-control-stax_visibility_pro_user_meta .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_ip_referrer .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_browser_type .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_date_time .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_post_page .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_archive .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_conditional_tags .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_dynamic_conditions .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_woocommerce_users .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_edd_users .elementor-panel-heading-title,
.elementor-control-stax_visibility_pro_fallback .elementor-panel-heading-title,
.stax-status-active .elementor-panel-heading-title,
.stax-status-inactive .elementor-panel-heading-title,
.stax-status-error .elementor-panel-heading-title {
    position: relative;
}

.elementor-control-stax_visibility_pro_user_meta .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_ip_referrer .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_browser_type .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_date_time .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_post_page .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_archive .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_conditional_tags .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_dynamic_conditions .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_woocommerce_users .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_edd_users .elementor-panel-heading-title:after,
.elementor-control-stax_visibility_pro_fallback .elementor-panel-heading-title:after {
    font-family: eicons;
    content: '\e893';
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 2;
    color: #7b5bcf;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    border-radius: 30px;
}

.stax-status-active .elementor-panel-heading-title:after,
.stax-status-inactive .elementor-panel-heading-title:after,
.stax-status-error .elementor-panel-heading-title:after {
    font-family: eicons;
    position: absolute;
    top: 11px;
    right: 0;
    z-index: 2;
    font-size: 16px;
}

.stax-status-active .elementor-panel-heading-title:after {
    content: '\e90d';
    color: #229b12;
}

.stax-status-inactive .elementor-panel-heading-title:after {
    content: '\e93a';
    color: #797979;
}

.stax-status-error .elementor-panel-heading-title:after {
    content: '\e946';
    color: #e32525;
}

.elementor-control-old_version_note .elementor-control-content {
    padding: 10px;
    background: #2d2d2d;
    border-radius: 4px;
}

.elementor-control-old_version_note .elementor-control-title {
    font-weight: 900;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #ff2b2b;
}

.elementor-control-old_version_note .visibility-old-version-notice {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #fff;
}

.elementor-control .stax-generic-notice {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #fff;
}

.elementor-control-type-stax_query .select2-search--inline input {
    padding: 0 5px !important;
}

.elementor-control-type-stax_query .elementor-control-input-wrapper .elementor-control-unit-1 {
    order: 2;
}

.elementor-control-type-stax_query .elementor-control-input-wrapper {
    display: flex;
}

.elementor-control-type-stax_query .select2-container .select2-selection {
    border-radius: 3px 0 0 3px;
}

.elementor-control-type-stax_query .select2-container .select2-selection--multiple {
    min-height: 28px;
}

.elementor-control-type-stax_query .select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 20px;
}

.elementor-control-type-stax_query .stax-elementor-control-quick-edit {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 28px;
    cursor: pointer;
    border: 1px solid #d5dadf;
    border-left-color: rgb(213, 218, 223);
    border-left-style: solid;
    border-left-width: 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    background: #fff;
}

.elementor-control-type-stax_query .stax-elementor-control-quick-edit i {
    font-size: 12px;
    color: #e52600;
}

.elementor-control .stx-plugin-requirement {
    padding: 6px;
    border-radius: 4px;
    line-height: 18px;
    text-align: center;
}

.elementor-control-stax_visibility_dynamic_conditions_tag .elementor-control-media__tools {
    bottom: 0 !important;
}
  
.elementor-control-stax_visibility_dynamic_conditions_tag .elementor-control-media__tool,
.elementor-control-stax_visibility_dynamic_conditions_tag .elementor-control-media-upload-button {
    display: none;
}

.elementor-control-stax_visibility_dynamic_conditions_tag .elementor-control-media__tools>:not(:first-child) {
    margin: 0;
}

.elementor-control-stax_visibility_dynamic_conditions_tag .elementor-control-media__content {
    height: 27px;
    padding-bottom: 0 !important;
}

.elementor-control-stax_visibility_dynamic_conditions_tag .elementor-control-dynamic-switcher {
    width: 100%;
}
  